@import url("../main.css");


.header .header-cont{
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}

.header .header-items{
  justify-content: flex-end !important;
  width: 50% !important;
}

.header .header-home{
  width: 50%;
}

.banner{
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 80px;
  width: 100%;
  border-bottom: 1px solid #919192;
}

.banner .banner-text-cont{
  display: flex;
  width: 50%;
}

.banner .banner-img{
  width: 50%;
}

.banner .banner-img img{
  width: 100%;
  height: 100%;
}

.banner .banner-text{
  display: block;
  width: 55%;
  align-self: center;
  margin: auto;
}

.banner .banner-text p span{
  color: var(--info-main, #1650C0);
  font-weight: 600;
}

.banner .banner-text h1{
  color: var(--info-pressed, #0C2A66);
  padding: 10px 0;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.18px;
}

.banner .banner-text p{
  color: var(--grey-900, #232326);
  padding: 10px 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
}

.options-cont{
  margin: 50px auto;
}

.options-cont h3{
  color: var(--info-pressed, #0C2A66);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.18px;
}

.options-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px 0;
}

.options-list .options-item{
  width: 28%;
  margin: 8px;
  padding: 20px;
  border-radius: 24px;
  border: 1px solid var(--info-border, #8AA7DF);
  height: 180px;
}

.options-list .options-item div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  text-align: center;
}

.options-list .options-item div img{
  margin: auto;
}

.options-list .options-item div p{
  color: var(--grey-900, #232326);
  font-size: 20px;
  font-style: normal;
  letter-spacing: -0.5px;
}

.btn-thank{
  padding: 40px;
}

.btn-thank a {
  margin: auto;
  padding: 14px 20px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: var(--info-pressed, #0C2A66);
  border-radius: 10px;
  background: var(--primary-secondary, #E5ECF8);
  display: block;
  width: 20%;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1440px) { 
  .chart-list .chart-item{
      height: auto;
  }

  .challenges-list div,
  .options-list .options-item{
    width: 43%;
  }
}

@media (max-width: 768px) {

  .header .header-home {
    display: none;
  }

  .header .header-items {
    width: 100% !important;
  }

  .banner {
    position: relative;
    flex-direction: column;
  }

  .banner .banner-text {
      width: 100%;
  }

  .banner .banner-text-cont {
      width: 100%;
      order: 3;
      z-index: 99;
  }

  .banner .banner-img {
      position: relative;
      width: 100%;
      order: 1;
      height: 180px;
  }

  .banner::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 240px;
      order: 2;
      background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 65%);
  }

  .options-list{
    flex-direction: column;
  }

  .options-list .options-item div {
    height: auto;
  }

  .options-list .options-item {
    width: 95%;
    padding: 0;
    margin: 8px auto;
  }

  .options-list .options-item div p {
    line-height: 25px;
  }

  .btn-thank {
    padding: 15px;
  }

  .btn-thank a{
    width: 50%;
  }
}
